{% extends 'base.html' %}
{% block title %}Filter Employees{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card card-shadow">
      <div class="card-body">
        <h3 class="mb-3"><i class="fa-solid fa-filter me-2"></i>Filter Employee Details</h3>
        <form action="{% url 'filter_emp' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Employee First/Last name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{name}}">
          </div>
          <div class="mb-3">
            <label for="dept" class="form-label">Department</label>
            <input type="text" class="form-control" id="dept" name="dept" value="{{dept}}">
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="text" class="form-control" id="role" name="role" value="{{role}}">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
